<div class="dashboard-container">
    <h2>Organizer Dashboard</h2>
    <p>Welcome to the event organizer panel. Use the navigation to manage your events, users, and settings.</p>
</div>

<div class="profile-container">
    <div class="profile-header">
        <!-- <img [src]="organizer.image" alt="Organizer Photo" class="profile-img"> -->
        <h2><strong>Name: </strong>{{ organizer.name }}</h2>

    </div>

    <div class="profile-details">
        <p><strong>Email:</strong> {{ organizer.email }}</p>
        <p><strong>Phone:</strong> {{ organizer.phone }}</p>
        <p><strong>Role:</strong> Organizer</p>
        <!-- <p><strong>Organization:</strong> {{ organizer. }}</p> -->
        <!-- <p><strong>Location:</strong> {{ organizer.location }}</p> -->
    </div>


</div>