.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 240px;
    background-color: #629cc2;
    color: white;
}

.logo-toolbar {
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

mat-nav-list a {
    color: white;
}

mat-nav-list a mat-icon {
    margin-right: 10px;
}

.active-link {
    background-color: rgba(88, 129, 136, 0.779);
}

.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.main-toolbar {
    font-size: 18px;
}

.content {
    padding: 20px;
    background-color: #d9eced;
    min-height: calc(100vh - 64px);
}