.attendee-toolbar {
    display: flex;
    align-items: center;
}

.toolbar-title {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}


/* Search bar takes space between Available Events and Profile */

.spacer {
    flex: 1;
}

.search-wrapper {
    position: relative;
    width: 250px;
}

.search-bar-container {
    flex: 1;
    position: relative;
    max-width: 400px;
    /* Reasonable length */
    margin-left: 10px;
}

.search-field {
    width: 100%;
    /* background: rgb(141, 46, 46); */
    background-color: rgb(164, 171, 190);
    /* Makes it clearly visible */
    border-radius: 15px;
    margin-top: 0px;
    height: 50px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: rgb(9, 11, 13);
    justify-content: space-around;
}

.search-result-item:hover {
    background-color: #f5f5f5;
    color: #1976d2;
}