.dialog-container {
    position: relative;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
}

.event-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mat-dialog-content {
    padding: 0 24px !important;
}

mat-dialog-title {
    font-size: 1.8rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.list-unstyled li .mat-icon {
    color: #6c757d;
}

.mat-dialog-actions {
    border-top: 1px solid rgba(0, 0, 0, .12);
}


/* Responsive Adjustments */

@media (max-width: 768px) {
    .event-image {
        height: 180px;
    }
    mat-dialog-title {
        font-size: 1.5rem;
    }
}